body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("0A0BF5BB-6FCA-4024-A5B0-3E261717E470.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
